<!doctype html>
<html>
        <body bgcolor="#E6E6FA">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="David Foote">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <style>
            .error {
                color: red;
            }    
        
        </style>         

</head>

<title>{{title}}</title>

    
<body>

<div>
    <a href='/'>Home</a>
    <a href='/blog'>All Posts</a>
    <a href='/new_post'>New Posts</a>
</div>

<div align="right">
    <a href='/login'>Log In</a>
    <a href='/logout'>Log Out</a>
</div>


{% with messages = get_flashed_messages() %}
    <ul>
    {% for message in messages %}
        <li>{{message}}</li>

    {% endfor %} 

    </ul>
{% endwith %}



{% block content %}
{% endblock %}




<footer>
    
    <div id="wrapper">
        <div id="content">
            <center>

            <p>Posted by: David A. Foote</p> 
            <p>Copyright 2017, All Rights Reserved</p>
            
            </center>
        </div>
    </div>
      
            
</footer>
</body>
</html>