<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="David Foote">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">             
</head>

<title>{{title}}</title>
<style>
    .error {
        color: red;
    }    

</style>         
    
<body>

<div>
    <a href='/'>Main Blog Page</a>
    <a href='/new_post'>Add a Blog Entry</a>
    <a href='/logout'>Log Out</a>
</div>


{% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category, message in messages %}
        <li class="{{category}}">{{message}}</li>

    {% endfor %} 

    </ul>
{% endwith %}

{% block content %}
{% endblock %}

</body>
</html>
