{% extends "base.html" %}

{% block content %}


<center>
<h1>Blog Main Central</h1>

    <hr />
    
    {% if blogs|length == 0 %} 
    <p>No blogs yet</p> 
    {% else %}

    <ul>
        {% for blog in blogs %}
            <h2>
                <left>
                    <a href="/?blog={{blog.id}}">{{blog.title}}</a>
                </left>
            </h2>
            <p>{{blog.body}}</p>
             
        
        {% endfor %}
    </ul>

{% endif %}

        <hr />
    </center>
        
        
{% endblock %}            
        
            


    
              
    
    










