{% extends "base.html" %}

{% block content %}
<h1><center>Blog Users</center></h1>

 
    <hr />
    
    {% if users|length == 0 %} 
    <p>No users yet</p> 
    {% else %}

    <ul>
        {% for user in users %}
            <h2>
                <left>
                    <a href="/blog?user={{user.id}}">{{user.username}}
                </left>
            </h2>
            
             
        
        {% endfor %}
    </ul>

{% endif %}

        <hr />
          
        
{% endblock %}      