{% extends "base.html" %}
{% block content %}

<center>
<h1>Signup for Blogz</h1>
 <form action='/signup' method='post'>
 

     <label>Username
        <input name="username" type="text" id="player" value="" style="width:500px; height:30px;" />
            <span class="error">{{username_error}}</span>
        </label></br></br>
        <label>Password
            <input name="password" type="password" id="player" value='' style="width:500px; height:30px;" />
                <span class="error">{{password_error}}</span>
            </label></br></br>
            <label>Confirm 
                <input name="confirm"  type="password" id="player" value='' style="width:500px; height:30px;" />
                    <span class="error">{{confirm_error}}</span>
                </label></br></br>
                <input type="submit" value="Create Account" "font size:24px;" style="width:150px;" "height:34px;" /></br>
            </form>       
</center>
            
{% endblock %}
    
    